In [1]:
import pandas as pd
df = pd.read_excel("sentiment_analysis.xlsx")
df.head()

                                             Content
0                        如果不教育这些人，他们就会被热比娅那些极端恐怖分子教坏
1                 你看到过新疆的恐怖分子开着车冲进学校么？我看到过，所以我支持增加安保
2                                         新疆就是一个人间地狱
3                            带领他们走进正常生活，不至于落成尼泊尔那类国家
4  阿富汗战争后，美军开始在阿富汗训练恐怖分子，然后源源不断的从喀什（中阿边境）送入到新疆，随后...

In [2]:
text = df.Content.iloc[0]

In [3]:
from snownlp import SnowNLP
s = SnowNLP(text)

In [4]:
s.sentiments

0.6344944595347873

In [5]:
def get_sentiment_cn(text):
    s = SnowNLP(text)
    return s.sentiments
df["sentiment"] = df.Content.apply(get_sentiment_cn)

In [6]:
df.head()

                                             Content  sentiment
0                        如果不教育这些人，他们就会被热比娅那些极端恐怖分子教坏   0.634494
1                 你看到过新疆的恐怖分子开着车冲进学校么？我看到过，所以我支持增加安保   0.955532
2                                         新疆就是一个人间地狱   0.856387
3                            带领他们走进正常生活，不至于落成尼泊尔那类国家   0.901174
4  阿富汗战争后，美军开始在阿富汗训练恐怖分子，然后源源不断的从喀什（中阿边境）送入到新疆，随后...   1.000000

In [7]:
df.sentiment.mean()

0.6425895336912579

In [8]:
df.sentiment.median()

0.7569015941588164

In [9]:
df.to_excel('results.xls','sheet1')